img{
	width: 100%;
	height: 290px;
	
}

 /* unvisited link */
a:link {
  color: red;
  text-decoration-line: none;
}

/* visited link */
a:visited {
  color: teal;
  text-decoration-line: none;
}

/* mouse over link */
a:hover {
  color: blue;
  text-decoration-line: underline;
}

/* selected link */
a:active {
  color: red;
  text-decoration-line: none;
} 